<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Photos</h1>
    <p>Express stock Photo application.</p>
    <div id="photos">
        <% photos.forEach(function(p){ %>
            <div class="photo">
                <h2><%=p.name%></h2>
                <img src='/photos/<%=p.path%>' />
            </div>
        <% }) %>
    </div>
    
  </body>
</html>
